@*@model List<Service>*@
@model ITMatching.ViewModels.EditTagsFormViewModel

@{
    ViewData["Title"] = "Add/Edit Subject Tags";

}

<script src="~/js/request-form.js" asp-append-version="true"></script>
<h1 class="text-center mb-5 mt-5">@ViewData["Title"]</h1>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="border-2">
                <div class="input-area">
                    <form asp-controller="Account" asp-action="ExpertTags" method="post" id="editForm">
                        <div asp-validation-summary="ModelOnly"></div>
                        <div class="form-group">
                            <h4>On this page, you can tell us which subjects you are experienced in troubleshooting for IT issues.</h4><br /><br />
                            <label for="tags" class="mb-5"> Selecting a checkbox will apply the subject of expertise to your list of subjects, and unselecting a checkbox will remove it from your list of subjects. When finished creating changes, click on the "Save" button. If you wish to revert changes made on this page, click on the "Cancel" button.<br /><br />Remember, the subjects selected here will be used to match you to clients with IT-issues of the same subject.</label><br />
                            <div class="card-header requestFormCardHeader">
                                <label>
                                    <input class="btn btn-orange" type="button" data-toggle="collapse" data-target="#collapseOS" aria-expanded="true" aria-controls="collapseOS" value="Operating Systems">
                                </label>
                            </div>
                            <div class="collapse" id="collapseOS">
                                <div class="card card-body">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12">
                                                <ul class="formTags">
                                                    @foreach (Service s in Model.Services)
                                                    {
                                                        if (s.ServiceCategory == "OS" && s.ServiceName != "OS")
                                                        {
                                                    <li>
                                                        <label>
                                                            @if (Model.checkedBoxes.Contains(s.Id))
                                                                    {
                                                            <input type="checkbox" class="cbox" name="TagIds" value="@s.Id" checked />
                                                                    }
                                                                    else
                                                                    {
                                                            <input type="checkbox" class="cbox" name="TagIds" value="@s.Id" />
                                                                    }
                                                            <span class="text-dark">@s.ServiceName </span>
                                                        </label>
                                                    </li>

                                                        }
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="card-header requestFormCardHeader">
                                <label>
                                    <input class="btn btn-orange" type="button" data-toggle="collapse" data-target="#collapseHardware" aria-expanded="false" aria-controls="collapseHardware" value="Hardware">
                                </label>
                            </div>
                            <div class="collapse" id="collapseHardware">
                                <div class="card card-body">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12">
                                                <ul class="formTags">
                                                    @foreach (Service s in Model.Services)
                                                    {
                                                        if (s.ServiceCategory == "Hardware" && s.ServiceName != "Hardware")
                                                        {
                                                    <li>
                                                        <label>
                                                            @if (Model.checkedBoxes.Contains(s.Id))
                                                                    {
                                                            <input type="checkbox" class="cbox" name="TagIds" value="@s.Id" checked />
                                                                    }
                                                                    else
                                                                    {
                                                            <input type="checkbox" class="cbox" name="TagIds" value="@s.Id" />
                                                                    }
                                                            <span class="text-dark">@s.ServiceName</span>
                                                        </label>
                                                    </li>

                                                        }
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="card-header requestFormCardHeader">
                                <label>
                                    <input class="btn btn-orange" type="button" data-toggle="collapse" data-target="#collapseSoftware" aria-expanded="false" aria-controls="collapseSoftware" value="Software">
                                </label>
                            </div>
                            <div class="collapse" id="collapseSoftware">
                                <div class="card card-body">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12">
                                                <ul class="formTags">
                                                    @foreach (Service s in Model.Services)
                                                    {
                                                        if (s.ServiceCategory == "Software" && s.ServiceName != "Software")
                                                        {
                                                    <li>
                                                        <label>
                                                            @if (Model.checkedBoxes.Contains(s.Id))
                                                                    {
                                                            <input type="checkbox" class="cbox" name="TagIds" value="@s.Id" checked />
                                                                    }
                                                                    else
                                                                    {
                                                            <input type="checkbox" class="cbox" name="TagIds" value="@s.Id" />
                                                                    }
                                                            <span class="text-dark">@s.ServiceName </span>
                                                        </label>
                                                    </li>

                                                        }
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="card-header requestFormCardHeader">
                                <label>
                                    <input class="btn btn-orange" type="button" data-toggle="collapse" data-target="#collapseNetwork" aria-expanded="false" aria-controls="collapseNetwork" value="Network">
                                </label>
                            </div>
                            <div class="collapse" id="collapseNetwork">
                                <div class="card card-body">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12">
                                                <ul class="formTags">
                                                    @foreach (Service s in Model.Services)
                                                    {
                                                        if (s.ServiceCategory == "Network" && s.ServiceName != "Network")
                                                        {
                                                    <li>
                                                        <label>
                                                            @if (Model.checkedBoxes.Contains(s.Id))
                                                                    {
                                                            <input type="checkbox" class="cbox" name="TagIds" value="@s.Id" checked />
                                                                    }
                                                                    else
                                                                    {
                                                            <input type="checkbox" class="cbox" name="TagIds" value="@s.Id" />
                                                                    }
                                                            <span class="text-dark">@s.ServiceName </span>
                                                        </label>
                                                    </li>

                                                        }
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="input-group-btn">
                                <center>
                                    <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Manage/ExpertTags" title="Manage">Cancel</a>&nbsp;
                                    <button type="submit" class="btn btn-orange" id="editForm">Save Changes</button>
                                </center>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>