@model IEnumerable<Expeditions.Models.Newsfeed>

@{
    ViewData["Title"] = "Newsfeed";
}

<br />

<div class="text-center">
    <h1 class="display-4"><strong>Newsfeed</strong></h1>
</div>

<br />

<div class="accordion" id="accordionArticle">
    @{ var i = 1;}
    @foreach (var item in Model)
    {
        <div class="card">
            <div class="card-header" id="@($"article{i}")">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#@($"collapse{i}")" aria-expanded="false" aria-controls="@($"collapse{i}")">
                        @Html.DisplayFor(modelItem => item.Title)
                    </button>
                </h2>
            </div>
            <div id="@($"collapse{i}")" class="collapse" aria-labelledby="@($"article{i}")" data-parent="#accordionArticle">
                <div class="card-body">
                    <h1 style="text-align:center"><i><strong>@Html.DisplayFor(modelItem => item.Title)</strong></i></h1>
                    <br />
                    <div class="col-md-6 offset-md-3">
                        <p><strong>By John Smith</strong></p>
                        @Html.DisplayFor(modelItem => item.Content)
                    </div>
                </div>
            </div>
        </div>
        i++;
    }
</div>
