@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject ITMatchingAppContext AppContext

@{
    ViewData["Title"] = "Home Page";
    bool isUserLoggedIn = SignInManager.IsSignedIn(User);
    bool isExpert = false;
    bool hasTags = false;
    if (isUserLoggedIn)
    {
        string id = UserManager.GetUserId(User);
        Itmuser itUser = AppContext.Itmusers.Where(u => u.AspNetUserId == id).FirstOrDefault();
        Expert eUser = AppContext.Experts.Where(eu => eu.ItmuserId == itUser.Id).FirstOrDefault();
        isExpert = eUser != null;


        if (isExpert)
        {
            eUser.IsAvailable = false;
            List<ExpertService> expertServices = AppContext.ExpertServices.Where(es => es.ExpertId == eUser.Id).ToList();
            if (expertServices.Any())
            {
                hasTags = true;
            }
            AppContext.Experts.Update(eUser);
            AppContext.SaveChanges();


        }
    }
}

@*@ViewBag.Message*@
<div class="jumbotron jumbotron-fluid" id="HomeJumbotron">
    <div class="container">
        <div class="row">
            <br /><br />
            <div class="col-lg-6">
                <h1 class="text-white text-center text-shadow">@(isExpert ? "Want to help?" : "Have an IT issue?")</h1>
            </div>
            <div class="col-lg-6">
                @if (!isUserLoggedIn) //User is not logged in
                {
                    <a href='@Url.Action("ServicesList", "Home")' class="text-decoration-none"><input type="button" class="btn-xlarge btn-orange btn-block" value="See what we can help you with"></a><br />
                }
                else if (isExpert) //User logged in and is Expert
                {

                    //Expert has subject tags attached to their account 
                    if (hasTags)
                    {
                        <a href='@Url.Action("ExpertWaitingRoom", "Matching")' class="text-decoration-none"><input type="button" class="btn-xlarge btn-orange btn-block" value="Enter the expert's waiting room"></a><br />
                    }
                    //Expert does not have subject tags attached to their account
                    else
                    {
                        <a href='@Url.Action("EditTagsForm", "Account")' class="text-decoration-none"><input type="button" class="btn-xlarge btn-orange btn-block" value="Tell us about your experience"></a><br />
                    }
                }
                else //User logged in and is Client
                {
                    <a href='@Url.Action("RequestForm", "Matching")' class="text-decoration-none"><input type="button" class="btn-xlarge btn-orange btn-block" value="Get help now"></a><br />
                }
            </div>
        </div>
        <br /><br />
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                @if (!isUserLoggedIn) //User is not logged in
                {
                    <h4 class="text-white text-center">
                        Log in or register for an account to start matching with other users!
                    </h4>
                }
                else if (isExpert) //User logged in and is Expert
                {

                    //Expert has subject tags attached to their account
                    if (hasTags)
                    {
                        <h4 class="text-white text-center">
                            Enter into the waiting room to get matched with clients with issues that you have experience in!
                        </h4>
                    }
                    //Expert does not have subject tags attached to their account
                    else
                    {
                        <h4 class="text-white text-center">
                            Tell us about the subjects that you have experience in, so that we can match you to clients in need!
                        </h4>
                    }
                }
                else //User logged in and is Client
                {
                    <h4 class="text-white text-center">
                        If you have an IT-related issue, then submit a help request and get matched with an expert who can help you!
                    </h4>
                }

            </div>
        </div>
    </div>
</div>

<div class="text-center container-fluid">
    <br /><br />
    <div class="container">
        <div class="card border-dark text-black bg-info mb-3" id="HomeCard">
            <div class="card-body" id="HomeCard">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header"><h2 id="OrangeText">What is IT-Matching?</h2></div>
                    <div class="card-body">
                        <p class="text-left text-white">
                            IT-Matching is a web application giving the opportunity for those seeking IT help to be matched with those with the expertise
                            needed in order to solve their IT-related problems. IT Matching will prompt users who need help to describe the nature of their IT or computing
                            related issue and automatically connect them with professionals whose provided expertise matches the client’s issue. Once matched together in the
                            system, IT Matching allows for the client and the expert to chat one-on-one via text to come to a solution to the client’s IT-related issue.
                        </p><br />
                        <h3 id="OrangeText"> Make an account and get started today! </h3><br /><br />
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card text-white bg-dark mb-3">
                                <div class="card-header"><h2 id="OrangeText">Key Features</h2></div>
                                <div class="card-body">
                                    <ul class="text-left">
                                        <li><p class=" text-white">Request form for clients to describe and tag their IT issue</p><br /></li>
                                        <li><p class=" text-white">Automated system that connects users based on a "Matching Score"</p><br /></li>
                                        <li><p class=" text-white">Live one-on-one text chat between clients and experts</p><br /></li>
                                        <li><p class=" text-white">Scheduling system to accommodate users based on times that work for them</p><br /></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card text-white bg-dark mb-2">
                                <div class="card-header"><h2 id="OrangeText">Get Help with...</h2></div>
                                <div class="card-body">
                                    <ul class="text-left">
                                        <li><p class=" text-white">Hardware</p></li>
                                        <li><p class=" text-white">Software</p></li>
                                        <li><p class=" text-white">Networking</p></li>
                                    </ul>
                                    <h3 id="OrangeText">From an expert picked just for you!</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

