@using System.Text.Json
@inject ITMatchingAppContext AppContext
@model ITMatching.ViewModels.ExpertClientMatchingViewModel
@{
    ViewData["Title"] = "Expert Offline Matching Room";
}



<div class="container">
    @if (Model.OfflineExpertIdsAndScores.Any())
    {
        @if (Model.OfflineExpertIdsAndScores[0] != (0, 0, 0))
        {
            var cnt = 0;
            <h1 class="mt-5 mb-3 text-center"><strong>No matching experts are currently available to help you</strong></h1>
            <br />

            <h3 class="mt-4 mb-5 text-center">Here are some offline matching experts who may be able to help you later.</h3>


            <div class="accordion mb-5" id="accordionReq">
                <div class="row no-gutters">


                    @foreach ((int, double, double) ex in Model.OfflineExpertIdsAndScores)
                    {
                        var serviceIds = AppContext.ExpertServices.Where(es => es.ExpertId == ex.Item1).Select(es => es.ServiceId);
                        var tags = AppContext.Services.Where(s => serviceIds.Contains(s.Id)).Select(s => s.ServiceName).ToList();

                        Expert tempExpert = AppContext.Experts.Where(e => e.Id == ex.Item1).FirstOrDefault();

                        string firstName = Model.Itmusers.Where(it => it.Id == tempExpert.ItmuserId).Select(it => it.FirstName).FirstOrDefault();
                        string lastName = Model.Itmusers.Where(it => it.Id == tempExpert.ItmuserId).Select(it => it.LastName).FirstOrDefault();

                        string fullName = firstName + " " + lastName;
                        string email = Model.Itmusers.Where(it => it.Id == tempExpert.ItmuserId).Select(it => it.Email).FirstOrDefault();

                        double matchingScore = ex.Item2 * 100;
                        double feedbackScore = ex.Item3 * 100;
                        matchingScore = Math.Round(matchingScore, 1);
                        feedbackScore = Math.Round(feedbackScore, 1);


                        <button class="border-0 btn-block mt-3 p-0@(cnt == 0 ? "" : " collapsed")" type="button" data-toggle="collapse" data-target="#collapse-@cnt" aria-expanded="@(cnt == 0 ? "true" : "false")" aria-controls="collapse-@cnt">
                            <div class="col-12 p-3 req-head-bg">
                                <div style="clear: both">
                                    <h3 style="float: left" class="mb-0 req-head-text font-weight-bold text-left ml-3">@fullName</h3>
                                    <h3 style="float: right" class="mb-0 req-head-text font-weight-bold text-right">Matching Score: @matchingScore</h3>
                                    <br />
                                </div>
                            </div>
                        </button>

                        <div id="collapse-@cnt" data-parent="#accordionReq" class="col-12 p-3 req-body-bg collapse@(cnt == 0 ? " show" : "")">
                            <div class="mb-3">
                                <h3 style="float: left" class="mb-0 req-head-text font-weight-bold text-left">Email: @email</h3>

                                @if (feedbackScore >= 75.0)
                                {
                                    <h3 style="float: right" class="mb-0 req-head-text font-weight-bold text-right">Client Satisfaction: <span style="color: darkseagreen">@feedbackScore%</span></h3>
                                }
                                else if (feedbackScore < 75.0 && feedbackScore >= 50.0)
                                {
                                    <h3 style="float: right" class="mb-0 req-head-text font-weight-bold text-right">Client Satisfaction: <span style="color: orange">@feedbackScore%</span></h3>
                                }
                                else
                                {
                                    <h3 style="float: right" class="mb-0 req-head-text font-weight-bold text-right">Client Satisfaction: <span style="color: indianred">@feedbackScore%</span></h3>
                                }
                            </div>

                            <div>
                                <div class="d-flex m-n3 flex-wrap col-12 p-3 req-body-bg">
                                    @foreach (var tag in tags)
                                    {
                                        <span class="badge badge-warning m-3 py-3 px-4 text-white">@tag</span>
                                    }
                                </div>
                            </div>
                            <div class="d-flex justify-content-center mt-3 flex-wrap">
                                <a asp-controller="SchedulerUtil" asp-action="ViewSchedule" asp-route-id="@tempExpert.Id" target="_blank"
                                   class="btn btn-warning text-white font-weight-bold py-2 px-4 mx-5">View Expert Schedule</a>
                            </div>
                        </div>

                        cnt++;
                    }

                </div>
            </div>
        }

        else
        {
            <h2 class="mt-5 mb-5 text-center"><strong>Sorry, no registered experts have the ability to help you.</strong></h2><br />
            <h4 class="mt-3 mb-2 text-center">Did you make sure to properly tag your help request with applicable subjects?</h4>
            <p class="text-center mt-3">You can edit and resubmit your help request from your profile's help request history.</p>

            <div class="row justify-content-center">
                <a href='@Url.Action("Index", "Home")' class="text-decoration-none"><input type="button" class="btn btn-xlarge btn-orange m-5" id="btn-orange" value="Return to Home Page"></a>
            </div>
        }
    }
    else
    {
        <h1 class="mt-5 mb-5 text-center"><strong>No Help Request or Subjects Detected</strong></h1><br />
        <h3 class="mt-5 mb-2 text-center">To get matched with an expert, create a new help request and tag it with applicable subjects, or resubmit a previous one from your profile's help request history.</h3><br /><br />

        <div class="row justify-content-center">
            <a href='@Url.Action("RequestForm", "Matching")' class="text-decoration-none"><input type="button" class="btn btn-xlarge btn-orange m-3" id="btn-orange" value="Create New Help Request"></a>

            <a href='@Url.Action("Index", "Home")' class="text-decoration-none"><input type="button" class="btn btn-xlarge btn-orange m-3" id="btn-orange" value="Return to Home Page"></a>
        </div>
    }

</div>

@section Scripts {
    <script src="~/js/expert-waiting-room.js" asp-append-version="true"></script>
}