@using System.Text.Json
@inject ITMatchingAppContext AppContext
@model ITMatching.ViewModels.ExpertWaitingRoomViewModel
@{
    ViewData["Title"] = "Expert Waiting Room";
    var isAvailable = Model.Expert.IsAvailable;
    var expertId = Model.Expert.Id;
}

<input id="hdnIsAvailable" type="hidden" value="@(JsonSerializer.Serialize(isAvailable))" />

<form asp-controller="Matching" asp-action="ChangeExpertStatus" method="post">
    <div class="d-flex justify-content-center">
        <input name="expertId" type="hidden" value="@expertId" />
        <button type="submit" class="button-toggler @(isAvailable? "active " : "")mt-3">Go @(isAvailable ? "Offline" : "Online")</button>
    </div>
</form>

<div class="container">

    <h1 class="mt-4 mb-5 text-center">@(isAvailable ? "Help Request Matches" : "Go online to get matched with clients")</h1>
    @if (isAvailable)
    {
        var meetings = Model.Meetings;
        var cnt = 0;

        @if (meetings?.Any() == true)
        {
            <div class="accordion" id="accordionReq">
                <div class="row no-gutters">

                    @foreach (var meeting in meetings)
                    {
                        var meetingId = meeting.Key;
                        var hr = meeting.Value;
                        var serviceIds = AppContext.RequestServices.Where(rs => rs.RequestId == hr.Id).Select(rs => rs.ServiceId);
                        var tags = AppContext.Services.Where(s => serviceIds.Contains(s.Id)).Select(s => s.ServiceName).ToList();

                        <button class="border-0 btn-block mt-3 p-0@(cnt == 0 ? "" : " collapsed")" type="button" data-toggle="collapse" data-target="#collapse-@cnt" aria-expanded="@(cnt == 0 ? "true" : "false")" aria-controls="collapse-@cnt">
                            <div class="col-12 p-3 req-head-bg">
                                <h3 class="mb-0 req-head-text font-weight-bold text-left">@hr.RequestTitle</h3>
                            </div>
                        </button>
                        <div id="collapse-@cnt" data-parent="#accordionReq" class="col-12 p-3 req-body-bg collapse@(cnt == 0 ? " show" : "")">
                            <p class="font-weight-bold text-white">
                                @hr.RequestDescription
                            </p>
                            <div class="d-flex m-n3 flex-wrap">
                                @foreach (var tag in tags)
                                {
                                    <span class="badge badge-warning m-3 py-3 px-4 text-white">@tag</span>
                                }
                            </div>
                            <div class="d-flex justify-content-center mt-3 flex-wrap">
                                <form asp-controller="Matching" asp-action="ChangeMeetingStatus" method="post">
                                    <input name="meetingId" type="hidden" value="@meetingId" />
                                    <button type="submit" name="status" value="accept" class="btn btn-success font-weight-bold py-2 px-4 mx-5">Accept</button>
                                    <button type="submit" name="status" value="decline" class="btn btn-danger font-weight-bold py-2 px-4 mx-5">Decline</button>
                                </form>
                            </div>
                        </div>

                        cnt++;
                    }

                </div>
            </div>
        }
        @if (meetings?.Any() != true)
        {
            <div class="d-flex justify-content-center">
                <h3>No request(s) found.</h3>
            </div>
        }
    }

</div>

@section Scripts {
    <script src="~/js/expert-waiting-room.js" asp-append-version="true"></script>
}