@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject ITMatching.Models.ITMatchingAppContext AppContext
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}


<ul class="nav nav-pills nav-fill justify-content-center">
    <li class="nav-item"><a class="nav-link text-center @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Personal Info</a></li>
    <li class="nav-item"><a class="nav-link text-center @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">Change Email</a></li>
    <li class="nav-item"><a class="nav-link text-center  @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Change Password</a></li>
    <li class="nav-item"><a class="nav-link text-center  @ManageNavPages.MeetingLogNavClass(ViewContext)" id="meeting-log" asp-page="./MeetingLog">View Meeting Logs</a></li>

    @{
        string id = UserManager.GetUserId(User);
        ITMatching.Models.Itmuser itUser = AppContext.Itmusers.Where(u => u.AspNetUserId == id).FirstOrDefault();
        ITMatching.Models.Expert eUser = AppContext.Experts.Where(eu => eu.ItmuserId == itUser.Id).FirstOrDefault();
    }

    @if (eUser == null)
    {
        <li class="nav-item"><a class="nav-link @ManageNavPages.HelpRequestHistoryNavClass(ViewContext)" id="help-request-history" asp-page="./HelpRequestHistory">View Help Request History</a></li>
    }
    else
    {
        <li class="nav-item"><a class="nav-link @ManageNavPages.ExpertTagsNavClass(ViewContext)" id="expert-tags" asp-page="./ExpertTags">View Subject Tags</a></li>
    }
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">External logins</a></li>
    }
    <li class="nav-item"><a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Delete Account</a></li>
</ul>
