@page
@model IndexModel
@using ITMatching.Models

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject ITMatchingAppContext AppContext

@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />

@if (SignInManager.IsSignedIn(User))
{
    string id = UserManager.GetUserId(User);
    Itmuser itUser = AppContext.Itmusers.Where(u => u.AspNetUserId == id).FirstOrDefault();
    Expert eUser = AppContext.Experts.Where(eu => eu.ItmuserId == itUser.Id).FirstOrDefault();


    @if (eUser != null)
    {
        List<WorkSchedule> workHr = AppContext.WorkSchedules.Where(work => work.ExpertId == eUser.Id).ToList();
        Dictionary<string, List<int>> hours = ITMatching.Controllers.SchedulerUtilController.GetSchedule(workHr);
        ViewData["SchedulerData"] = hours;

        <div class="row justify-content-center mt-4 mb-3">
            <div class="col-md-9 justify-content-center">
                <form id="profile-form" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="@itUser.FirstName">First name</label>
                        <input asp-for="@itUser.FirstName" class="form-control" disabled />
                        @*<input type="text" readonly class="form-control-plaintext" id="staticText" value="@itUser.FirstName">*@
                        <span asp-validation-for="@itUser.FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@itUser.LastName">Last name</label>
                        <input asp-for="@itUser.LastName" class="form-control" disabled />
                        <span asp-validation-for="@itUser.LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@itUser.Email">Email</label>
                        <input asp-for="@itUser.Email" class="form-control" disabled />
                        <span asp-validation-for="@itUser.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@itUser.PhoneNumber">Phone number</label>
                        <input asp-for="@itUser.PhoneNumber" class="form-control" disabled />
                        <span asp-validation-for="@itUser.PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                    @if (workHr.Count == 0)
                    {
                     <div class="form-group d-flex justify-content-center">
                         <div class="mb-3" style="height: 75px;">
                         <a class="btn btn-orange" id="btn-orange" asp-controller="SchedulerUtil" asp-action="Scheduler">Set Up My Schedule</a>
                         <span asp-validation-for="@eUser.WorkSchedule" class="text-danger"></span>
                         </div>
                     </div>
                    }
                    else
                    {
                <div class="form-group d-flex justify-content-center">
                    <div class="mb-3" style="height: 75px;">
                    <a class="btn btn-orange" asp-controller="SchedulerUtil" asp-action="Scheduler">View/Edit My Schedule</a>
                    <span asp-validation-for="@eUser.WorkSchedule" class="text-danger"></span>
                    </div>
                </div>
                    }
                    </div>
                </form>
            </div>
        </div>
    }
    else
    {
        <div class="row justify-content-center mt-4 mb-3">
            <div class="col-md-9 justify-content-center">
                <form id="profile-form" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="@itUser.FirstName">First name</label>
                        <input asp-for="@itUser.FirstName" class="form-control" disabled />
                        <span asp-validation-for="@itUser.FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@itUser.LastName">Last name</label>
                        <input asp-for="@itUser.LastName" class="form-control" disabled />
                        <span asp-validation-for="@itUser.LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@itUser.Email">Email</label>
                        <input asp-for="@itUser.Email" class="form-control" disabled />
                        <span asp-validation-for="@itUser.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@itUser.PhoneNumber">Phone number</label>
                        <input asp-for="@itUser.PhoneNumber" class="form-control" disabled />
                        <span asp-validation-for="@itUser.PhoneNumber" class="text-danger"></span>
                    </div>
                </form>
            </div>
        </div>
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}